@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-Black.woff2') format('woff2'),
        url('../assets/fonts/Gilroy-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-RegularItalic';
    src: url('../assets/fonts/Gilroy-RegularItalic.woff2') format('woff2'),
        url('../assets/fonts/Gilroy-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-BlackItalic.woff2') format('woff2'),
        url('../assets/fonts/Gilroy-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../assets/fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-Light.woff2') format('woff2'),
        url('../assets/fonts/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-ExtraBold.woff2') format('woff2'),
        url('../assets/fonts/Gilroy-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
